<?xml version="1.0"?>
<configuration>
  <appSettings>    
    <add key="pseudo" value="fenx"/>
    <add key="tcpPort" value="1337"/>
    <add key="udpPort" value="1338"/>
    <add key="buffer" value="1000000"/>
    <add key="incomingFolder" value=""/>  
    <add key="encrypted" value="true"/>
    <add key="safeMode" value="false"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
